:root {
    --red: #f5222d;
    --orange: #fa8c16;
    --gold: #faad14;
    --lime: #a0d911;
    --green: #52c41a;
    --cyan: #13c2c2;
    --blue: #1890ff;
    --hsl-blue: 209, 100%, 55%;
    --blue-dark: #0f4c85;
    --hsl-blue-dark: 209, 80%, 29%;
    --purple: #722ed1;
    --magenta: #eb2f96;
    --hsl-magenta: 327, 82%, 55%;
    font-size: 10px;
    --cyan-light: #5cdbd3;
    --blue-light: #69c0ff;
    --hsl-blue-light: 205, 100%, 71%;
    --yellow-light: #fffb8f;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body,
html {
    width: 100vw;
    height: 100vh;
    // 页面渐变色，左上角到右下角渐变
    background: linear-gradient(to right bottom, var(--cyan-light), var(--blue-light));
    // 居中
    display: grid;
    place-items: center;
}

#app {
    width: 100%;
    display: grid;
    place-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    max-width: 60rem;
    min-height: 30rem;
    background-color: hsl(var(--hsl-blue-dark), 0.4);
    // opacity: 0.5;
    border-radius: 1rem;
    padding: 5rem;
    // 这个阴影设置是常用设置，这个参数感官最好
    box-shadow: 0 0 1.5rem 0 var(--blue-dark);
    .login {
        width: 100%;
        h1 {
            text-align: center;
            font-size: 4rem;
            padding-bottom: 3rem;
        }
        form {
            font-size: 1.6rem;
            display: grid;
            place-items: center;
            gap: 2rem;
            width: 100%;
            .input-group {
                width: 100%;
                input {
                    font-size: 1.6rem;
                    width: calc(100% - 10.5rem);
                    background-color: hsl(var(--hsl-blue-dark), 0.4);
                    border: none;
                    // 去除点击后的白边框
                    outline: none;
                    border-radius: 1rem;
                    padding: 0.2rem 1rem;
                    // 点击出入框的时候会改变边框颜色
                    &:focus {
                        box-shadow: 0 0 0 1px var(--blue-light);
                    }
                    // 静态一般前面2个冒号
                    // 输入框默认存在的提示文字颜色
                    &::placeholder {
                        color: hsl(var(--hsl-blue-light), 0.8);
                        // color: #f5222d;
                    }
                }
                &.success {
                    input {
                        &focus {
                            box-shadow: 0 0 0 1px var(--cyan-light);
                            // box-shadow: 0 0 0 1px red;
                        }
                    }
                    .message {
                        display: block;
                        color: var(--cyan);
                    }
                }
                &.error {
                    input {
                        &focus {
                            box-shadow: 0 0 0 1px var(--magenta);
                            // box-shadow: 0 0 0 1px var(--gold);
                        }
                    }
                    .message {
                        display: block;
                        color: hsl(var(--hsl-magenta), 0.7)
                    }
                }
                #password {
                    width: calc(100% - 10.5rem - 1rem);
                }
                .password_icon {
                    #eye {
                        display: inline;
                    }
                    #eye-slash {
                        display: none;
                    }
                    &.show {
                        #eye {
                            display: none;
                        }
                        #eye-slash {
                            display: inline;
                        }
                    }
                }
                span {
                    font-size: 1rem;
                    font-weight: 600;
                    line-height: 1.5rem;
                }
                .message {
                    display: none;
                }
            }
        }
    }
}